.footerContainer {
    width: 100%;
    height:fit-content;
    background-color: #09143D;

}

.footerContent1, .footerContent2{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-family:'Quicksand';
    color: #858484;


}
.footerContent2{
    margin-left: 80px;
}

.icons {
    color:#858484;
    height: 40px;
    width: 40px;
    margin-right:10px;
    cursor: pointer;
}

.logoContainer{


}

.logo {
    height:200px;
    width:fit-content
    

}

.footerQuote{
    justify-content: center;
    margin-left: 50px;
    padding-left: 0px;
    
    align-items: center;
    padding-top: 60px;
}

.golden {
    color:#CFB52D;
}
.contactHeader {
            font-size: 40px;
            color:#E5E5E5 ;
}

.headerName {
    font-family: 'Oswald';
    color: #09143D;
    text-shadow: -1px -1px 0 #625306, 1px -1px 0 #625306, -1px 1px 0 #625306, 1px 1px 0 #625306;
}

.designerFooter{
    background-color: #081336;
    width: 100%;
    height: 60px;
    padding-top:35px;
}

.footerLogoColor {
    color:#CFB52D;
}